{
  "extends": "eslint:recommended",
  "env":{
    "node":true,
    "es6":true,
    "browser": true
  },
  "rules": {
    "no-restricted-imports": "warn",
    "quotes": "off",
    "no-console":"off",
    "no-unused-vars":"off",
    "no-unreachable":"off",
    "no-redeclare":"warn",
    "no-duplicate-imports": "warn"
  },
  "parserOptions": {
    "sourceType": "module"
  }
}
