/**
  more friendly on mobile
 */

*, *::after, *::before{
  box-sizing: border-box;
}

a{
  text-decoration: none;
}

body{
  color: #24292e;
  background-color: #fafbfc;
}

hr {
  background: #e1e4e8;
  border-color: transparent;
}
